<div class="container">
<h1 class="mt-5 mb-4">Bienvenido al buscador de películas</h1>

<h2 class="mt-5 mb-4">Películas</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Título</th>
      <th>Duración</th>
      <th>Descripción</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.duration %></td>
        <td><%= movie.description %></td>
        <td><%= link_to 'Editar', edit_movie_path(movie), class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Eliminar', movie, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-primary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar nueva película', new_movie_path, class: 'btn btn-primary btn-sm' %>
</div>