
<div class="container">
<h1 class="mt-5 mb-4">Agregar nueva película</h1>

<%= form_with(model: @movie, url: movies_path, local: true) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :duration %>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Volver', movies_path, class: 'btn btn-primary'  %>
</div>
