<div class="container">
  <h1 class="mt-5 mb-4">Detalles de la serie</h1>

  <p><strong>Titulo:</strong> <%= @serie.title %></p>
  <p><strong>Duración:</strong> <%= @serie.duration %></p>
  <p><strong>Descripción:</strong> <%= @serie.description %></p>

  <div class="form-group mb-4">
    <%= link_to 'Editar', edit_series_path(@serie), class: 'btn btn-primary' %>
    <%= link_to 'Volver', series_index_path, class: 'btn btn-primary' %>
  </div>
</div>
